.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2em;
}
  
.recipe-card {
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: white;
padding: 1em;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
position: relative;
cursor: pointer;
gap: 1.5em;
}

.recipe-card h3 {
font-size: 1.5em;
margin: 0;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.recipe-card-title {
display: flex;
align-items: center;
gap: 0.5rem;
}

.recipe-detail-title {
    font-weight: bold;
  }